body {
    margin: 0;
    padding: 0;
    color: #272829;
}

a {
    text-decoration: none;
    color: #0563bb;
}

a:hover {
    text-decoration: none;
    color: #067ded;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9999;
    transition: all 0.5s;
    padding: 20px;
    overflow-y: auto;
}

@media (max-width: 1024px) {
    #navbar {
        width: 300px;
        background: #fff;
        border-right: 1px solid #e6e9ec;
        left: -300px;
    }
}

#navbar * {
    margin: 0;
    padding: 0;
}

#navbar ul li {        
    list-style: none;
    position: relative;
    white-space: nowrap;
}

#navbar a {
    display: flex;
    align-items: center;
    color: #45505b;
    padding: 10px 18px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
    border-radius: 50px;
    background: #f2f3f5;
    height: 56px;
    width: 100%;
    overflow: hidden;
    transition: 0.3s;
}

#navbar i {
    font-size: 20px;
}

#navbar span {
    padding-left: 12px;
}

@media (min-width: 1024px) {
    #navbar a {
      width: 56px;
    }
    #navbar a span {
      display: none;
      color: #fff;
    }
}
  
#navbar a:hover, #navbar .active > a, #navbar li:hover > a {
    color: #fff;
    background: #0563bb;
}
  
#navbar a:hover span, #navbar .active > a span, #navbar li:hover > a span {
    color: #fff;
}

#navbar a:hover, #navbar li:hover > a {
    width: 100%;
    color: #fff;
}

#navbar a:hover span, #navbar li:hover > a span {
    display: block;
}

#home {
    width: 100%;
    height: 100vh;
    background: url("../media/img/background.jpg") top right no-repeat;
    background-size: cover;
    position: relative;
}

@media (min-width: 1024px) {
    #home {
        padding-left: 200px;
    }
}

@media (max-width: 1024px) {
    #home {
        padding: 0 5% 0 5%;
    }
}

#home:before {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#home h1 {
    margin: 0;
    font-size: 80px;
    font-weight: 800;
    line-height: 60px;
    color: #45505b;
}

.info-part {
padding: 20px 0;
overflow: hidden;
}

.info-part .title {
text-align: center;
padding-bottom: 30px;
}

.info-part .title h2 {
font-size: 32px;
font-weight: bold;
text-transform: uppercase;
margin-bottom: 20px;
padding-bottom: 20px;
position: relative;
color: #45505b;
}

.info-part .title h2::before {
content: '';
position: absolute;
display: block;
width: 120px;
height: 1px;
background: #ddd;
bottom: 1px;
left: calc(50% - 60px);
}

.info-part .title h2::after {
content: '';
position: absolute;
display: block;
width: 40px;
height: 3px;
background: #0563bb;
bottom: 0;
left: calc(50% - 20px);
}

.info-part .title p {
    margin-bottom: 0;
}

@media (min-width: 1024px) {
    #about .content {
        margin-left: 200px;
        padding-right: 50px;
    }
}

@media (max-width: 1024px) {
    #about .content img{
        padding: 0 6% 0 6%;
    }
    #about .content ul{
        margin-top: 20px ;
        padding: 0 6% 0 6%;
    }
}

#about ul{
    list-style: none;
    padding: 0;
}

#about .content ul li {
    padding-bottom: 10px;
}
  
#about .content ul i {
    font-size: 20px;
    padding-right: 2px;
    color: #0563bb;
}
  
#about .content p:last-child {
    margin-bottom: 0;
}

